# silly macOS
.DS_Store

# build files
build/

# editor config
.vscode/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
ide_profiles/xcode/Debug/
ide_profiles/xcode/ExtendedKF.build/
*.exe
*.ilk
*.suo
*.tlog
*.exe
/ide_profiles/VisualStudio/.vs/CarND-Extended-Kalman-Filter-Project/v15/*.suo
/ide_profiles/products/msbuild.windows.x86.v140.Debug/tmp/CarND-Ex.CB00724A.tlog/*.tlog
/ide_profiles/products/msbuild.windows.x64.v140.Debug/tmp/CarND-Ex.CB00724A.tlog/*.tlog
/products/cmake.msbuild.windows.x86.v140/CMakeFiles/3.10.2/CompilerIdC/Debug/CompilerIdC.tlog/*.tlog
/ide_profiles/products/msbuild.windows.x86.v140.Debug/tmp/CarND-Ex.CB00724A.tlog/*.tlog
/products/cmake.msbuild.windows.x86.v140/CMakeFiles/3.10.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/*.tlog
/ide_profiles/Eclipse/images/Capture-EclipseMenuFileImport.jpg
/ide_profiles/Eclipse/images/Capture-EclipseProjectsIntoWorkspace.jpg
/ide_profiles/Eclipse
/CMakeLists.txt
/cmakepatch.txt
/*.sh
/*.sh
/README.md
/ide_profiles/products/msbuild.windows.x86.v140.Release/tmp/*.log
